 body 
 {
     font-family: Arial, sans-serif;
     background-color: black;
     /* light grey background */
     color: #333;
     /* dark grey text color */
     font-family: 'Montserrat', sans-serif;
     text-align: center;
     padding-top: 3vw;
     background-color: #1C1C1C;
     color: black;
 }

 .container 
 {
     max-width: 50vw;
     margin: 5vw auto;
     margin-top: 2vw;
     height: 60vw;
     width: 60vw;
     padding: 2vw;
     background-color: #1C1C1C;
 }

 @media screen and (max-width: 600px) {
     body {
         height: 30vw;
     }
    }

 h1 {
     text-align: center;
     color: black;
     /* blue heading color */
 }

 textarea {
    font-size: 1vw;
     width: 100%;
     height: 5vw;
     margin-top: 1vw;
     margin-bottom: 1vw;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 1vw;
     /* slightly rounded corners */
     resize: none;
     /* disable resizing */
 }

 button {
     display: block;
     font-size: 1.2vw;
     width: 100%;
     padding: 1vw;
     background-color: #333333;
     /* blue button background color */
     color: #FFFFFF;
     border: none;
     border-radius: 3vw;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     transition: all 0.3s ease;
 }

 button:hover {
     transform: scale(1.1);
     background-color: #555555;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
 }

 #translatedText {
     margin-top: 1.5vw;
     height: 2vw;
     padding: 1vw;
     border-radius: 1vw;
     /* light grey background */
 }

 /*#userText {
     width: 100%;
     border: 3px solid black;
     box-sizing: border-box;
     height: 5vw;
     margin-top: 2vw;
 }*/

 #userText,#userTextSpeechToText, #correctedTextTranslation, #correctedTextTranscribe {
     width: 96%;
     height: 5vw;
     margin-top: 1vw;
     ;
     border-radius: 1vw;
     background-color: #333333;
     color: #FFFFFF;
     border: none;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     transition: all 0.3s ease;
 }

 #userText
 {
    display: none; /*XYX*/
 }

 h1
 {
    font-size: 2.5vw;
 }

 h2
 {
    font-size: 1.5vw;
 }

 #userText:focus,#userTextSpeechToText:focus, #correctedTextTranslation:focus,
#corrctedTextTranscribe:focus {
     outline: none;
     background-color: #555555;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
 }

 .language-dropdown {
     width: 100%;
     padding: 1vw;
     font-size: 1.2vw;
     margin-bottom: 1vw;
     border: none;
     /* Black border */
     border-radius: 2vw;
     background-color: #333333;
     /* White background */
     color: white;
     /* Black text color */
     appearance: none;
     /* Remove default appearance */
     -webkit-appearance: none;
     /* Remove default appearance for Safari */
     -moz-appearance: none;
     /* Remove default appearance for Firefox */
     text-align: center;
     /* Center-align text */
     cursor: pointer;
 }
 #languageDropdown
 {
    margin-top: 1vw;
    margin-bottom: 1vw;
 }

 /* Custom arrow icon */
 .language-dropdown::after {
     content: "\25BC";
     /* Downward arrow */
     position: absolute;
     top: calc(50% - 5px);
     /* Center vertically */
     right: 10px;
     /* Right align */
     color: #000;
     /* Black color */
 }

 /* Style on hover */
 .language-dropdown:hover {
     background-color: #333333;
 }

 /* Style on focus */
 .language-dropdown:focus {
     outline: none;
     /* Remove outline */
     box-shadow: 0 0 0 2px #000;
     /* Black border on focus */
 }
/*
 .word-buttons {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .word-buttons button {
     margin: 5px;
     border-radius: 10px;
     background-color: #333333;
     color: #FFFFFF;
     border: none;
     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
     transition: all 0.3s ease;
 }

 .word-buttons button:hover {
     transform: scale(1.2);
     background-color: #555555;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 .word-buttons button.selected {
     background-color: #FF0000;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     margin-bottom: 20px;
 }
 */
 p
 {
    font-size: 1.5vw;
    padding: 1vw;
 }

 .feedbackButtons {
     width: 20vw;
     display: flex;
     flex-direction: row;
     margin-left: 14vw;
     height: 3.5vw;
     display: none;/*XYX*/
 }

 #rightBtn,
 #wrongBtn {
    font-size: 1vw;
     border-radius: 1vw;
     background-color: #333333;
     color: #FFFFFF;
     border: none;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     transition: all 0.3s ease;
 }

 #feedbackDiv, #feedbackDiv_ {
     /*visibility: visible;*/
     animation: slideIn 0.5s ease-in-out forwards;

 }

 .feedbackRight {
     margin: 1vw;
     height: 2vw;
 }

 .smiley {
     font-size: 2vw;
     ;
     animation: smile 0.5s infinite;
     margin-left: 0vw;
 }

 @keyframes smile 
 {
     0% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.2);
     }

     100% {
         transform: scale(1);
     }
 }

 .feedbackWrong {
     height: 3vw;
 }

 .feedbackResponse {
     height: 1vw
 }



 .feedbackWrong {
     height: 7vw;
 }

 .feedbackResponse {
     height: 3vw;
     background-color: red;
 }

 .sentence {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     /* Optional, adjust according to your layout */
     height: ;
     /* Optional, adjust according to your layout */
     border: ;
     /* Optional, for visualization */
 }

 #word-buttons, #word-buttons_ {
     height: 4vw;
     margin: 1vw;
     padding: 1vw;
     display: flex;
     background-color: ;

 }

 #word-buttons button, #word-buttons_ button {
     margin: 0.2vw;
     height: 3vw;
     font-size: 1vw;
     width: auto;
     border-radius: 1vw;
     background-color: #333333;
     color: #FFFFFF;
     border: none;
     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
     transition: all 0.3s ease;
 }

 #word-buttons button:hover, #word-buttons_ button:hover {
     transform: scale(1.2);
     background-color: #555555;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 #word-buttons button.selected, #word-buttons_ button.selected{
     height: 3vw;;
     background-color: #FF0000;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     margin-bottom: 4vw;
     border:0.3vw solid #555555;
 }
 #word-buttons button.selected:hover,
 #word-buttons_ button.selected:hover
 {
    box-shadow: none;
    transform: none;
 }

 .heading {
     display: flex;
     align-items: center;
     margin: 1vw;
 }

 .avatar {
     width: 6vw;
     /* Adjust size as needed */
     height: 5vw;
     /* Adjust size as needed */
     border-radius: 1vw;
     /* Make the image circular */
     margin-right:3vw;
     /* Add space between image and heading */
 }

 .xyx {
     display: flex;
     align-items: center;
 }

 .voice-icon {
    background-color:#333333;
    border: none;
    font-size: 1.4vw;
    margin-right: 1vw;
    padding: 1vw;
    margin-bottom: 1vw;
    /* Adjust margin as needed */
 }

 /*Nort working
 .dropdown {
     padding: 5vw;
     font-size: 7vw;
     background-color: #333333;
     border:1px solid #333333;
     width: 10vw;
 }*/

 #word-split
 {
    height: 5vw;
    width:100%;
    border:2px solid teal;
    color: white;
    margin-bottom: 1vw;
 }


/*-----------------------------------------------------------------------------------*/
 .feedbackDivs {
     display: none;
     color:white;
     animation: slideIn 0.5s ease-in-out forwards;
 }

 @keyframes slideIn {
     from {
         opacity: 0;
         transform: translateY(-20px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 #AskingAboutAccuracy, #AskingAboutAccuracy_
 {
    display: none;/*XYX*/
    color: white;
    height: 2.4vw;
    padding-top: 1vw;
    margin: 1vw;
    font-size: 1.3vw;
 }